@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    font-size: 16px;
    height: 100%;
}
.contenedor-principal{
    display: grid;
    min-height: 100%;
    grid-template-rows: max-content max-content max-content auto max-content;
    grid-template-areas:
        "header"
        "nav"
        "sidebar"
        "main"
        "footer";
}
header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo-header{
    width: 150px;
}
nav{
    grid-area: nav;
    background-color: #ff6363;
}

.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-item{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    background-color: #C84D4D;
}
.sidebar{
    grid-area: sidebar;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    min-height: 100px;
    border-bottom: 3px solid rgba(0,0,0,0.2);
}

.sidebar h1{
    color: #121212;
}

main{
    grid-area: main;
}

#catalogo{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    align-items: center;
}

.card img{
    width: 100%;
}


footer{
    grid-area: footer;
    background-color: #ff6363;
    text-align: center;
}

.imagenes-footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 10px 0 0 0;
}

.info-footer{
    display: block;
    font-weight: bold;
    padding: 10px;
}
/* Estilos de grid muuri*/
.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
  }
.grid.imagenes-cargadas{
    opacity: 1;
}
.grid .item{
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(50% - 20px);
}
.grid .item-contenido{
    border-radius: 20px;
    flex-direction: column;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    border: 1px solid black;
}

.grid .item .img-mascota{
    height: 200px;
    width: 100%;
    cursor: pointer;
    vertical-align: top;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: contain;
}

.grid .descripcion-animal{
    height: 150px;
}

/* Form de filtros */
.filtros{
    color: black;
}
.filtros *{
    margin: 5px 0;
}
.filtros input[type="text"]{
    border-radius: 10px;
    text-align: center;
}
.filtros input[type="radio"]{
    margin-left: 15px;
}
.filtros .wrapperBtns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}
.btn button{
    font-size: 17px;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 100%;
    background-color: rgb(236, 190, 180);
    cursor: pointer;
}

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 80%;
    height: 80%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}

.modal h2, b{
    color: black;
}

.detallesCompletos p{
    color: black;
    font-size: 9px;
}


.modal-close{
    transform: translateY(-200%);
}

#contenidoMascota{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.detallesCompletos{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.infoCompleta{
    height: 60%;
}

.imgDetalles{
    height: 40%;
    text-align: center;
}

.detallesCompletos img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.btns-opciones img{
    width: 100%;
    height: 100%;
}

.vinculosOpciones{
    display: inline-block;
    width: 30px;
    height: 30px;
}

.btns-opciones button{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 5px 10px;
}

.descrip{
    font-size: 12px;
    overflow-y: auto;
    height: 100px;
}

@media (min-width: 580px) {
    .grid .item .img-mascota{
        height: 300px;
    }
    .grid .descripcion-animal{
        height: 50px;
    }
}

/* */
@media (min-width: 900px) {
    .infoCompleta{
        height: 100%;
        width: 50%;
    }

    .imgDetalles{
        height: 95%;
        width: 50%;
        text-align: center;
    }

    .detallesCompletos img{
        width: 80%;
        height: 100%;
    }
    .detallesCompletos{
        flex-direction: row;
    }
    .modal {
        width: 60%;
        height: 60%;
    }

    .modal p{
        font-size: 13px;
    }

    .contenedor-principal{
        grid-template-columns: 25% auto;
        grid-template-rows: max-content max-content auto max-content;
        grid-template-areas:
        "header header"
        "nav nav"
        "sidebar main"
        "footer footer";
    }

    #catalogo{
        grid-template-columns: repeat(3, 1fr);
    }
    .sidebar{
        border-right: 3px solid rgba(0,0,0,0.2);
    }
    .grid .item{
        width: calc(33.3333333% - 20px);
    }

    .grid .item .img-mascota{
        height: 250px;
    }
    .grid .descripcion-animal{
        height: 100px;
    }
}

@media (min-width: 1124px) {
    .modal {
        width: 60%;
        height: 60%;
    }

    .modal p{
        font-size: 15px;
    }
    .grid .item img-mascota{
        height: 300px;
    }
    .grid .descripcion-animal{
        height: 50px;
    }
}

/*Dark-Theme*/

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}

body{
    --text-color: #121212;
    --bg-color: #fff
}

body.dark-theme{
    --text-color: #fff;
    --bg-color: #121212;
}

#darkbutton{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
