@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    font-size: 16px;
    height: 100%;
}

.contenedor-principal{
    display: grid;
    min-height: 100%;
    grid-template-rows: max-content max-content auto max-content;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-header{
    width: 150px;
}

nav{
    grid-area: nav;
    background-color: #ff6363;
}

.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-item{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    background-color: #C84D4D;
}

main{
    grid-area: main;
}

.contenido{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    align-items: center;
    gap: 20px;
}

.contenedorImagen{
    order: 2;
    flex: 1;
}

.contenido img {
    width: 100%;
    max-width: 500px;
    max-height: 600px;
}

.divContenidoDerecho {
    order: 1;
    width: 90%;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 50px 0;
    border: 1px solid rgb(105, 97, 97);
    font-size: 20px;
}

.divContenidoDerecho h1, h2{
    color: #ff6363;
}

.divContenidoIzquierdo h1{
    font-size: 28px;
    color: #ff6363;
     text-align: center;
}

.divContenidoDerecho p{
    margin: 10px;
    font-size: 16px;
    height: 100%;
    text-align: center;
    line-height: 30px;
}

.divContenidoIzquierdo{
    width: 80%;
    padding-bottom: 50px;
    margin: 10px auto;
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}

footer{
    grid-area: footer;
    background-color: #ff6363;
    text-align: center;
}

.imagenes-footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 10px 0 0 0;
}

.info-footer{
    display: block;
    font-weight: bold;
    padding: 10px;
}

.url-sitio{
    display: none;
}


@media print {
    .url-sitio{
        display: block;
    }

    nav{
        display: none;
    }

    footer{
        display: none;
    }

    .contenedorImagen{
        display: none;
    }
    .contenedorImagen img{
        display: none;
    }

    .pagebreak { page-break-before: always; }

    .contenido{
        display: block;
    }

    .contenedor-principal{
        grid-template-rows: max-content auto;
        grid-template-areas:
        "header"
        "main"
    }
}


@media (min-width: 800px){
    .contenido{
        display: flex;
        flex-direction: row;
        margin: 10px 20px;
    }

    .contenido img {
        flex: 1;
        order: 1;
    }

    .divContenidoDerecho {
        flex: 1;
        order: 2;
    }

    .contenido img {
        max-width: 100%;
    }
}

/*Dark-Theme*/

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}

body{
    --text-color: #121212;
    --bg-color: #fff
}

body.dark-theme{
    --text-color: #fff;
    --bg-color: #121212;
}

#darkbutton{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
