* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body{
    font-size: 16px;
    height: 100%;
}

.contenedor-principal{
    display: grid;
    min-height: 100%;
    grid-template-rows: max-content max-content auto max-content;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-header{
    width: 150px;
}

nav{
    grid-area: nav;
    background-color: #ff6363;
}

.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-item{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    background-color: #C84D4D;
}

main{
    grid-area: main;
}

.carrusel-contenedor{
    max-width: 2000px;
    height: 400px;
    position: relative;
    margin: auto;
}

.carrusel-slides{
    display: none;
    height: 100%;
}

.carrusel-slides img{
    height: 100%;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.carrusel-texto{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.texto-numero{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.puntos{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .puntos:hover{
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.formBusqueda{
    text-align: center;
}

.texto-info{
    display: block;
    margin: 10px 0;
}

.formBusqueda select{
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 3px;
}

.boton{
    display: block;
    margin: 10px auto;
    background-color: #ff6363;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.imagen-busqueda{
    width: 200px;
}

.hr{
    width: 20%;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.preview-blog{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /*display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
    */
}

.articulo{
    background-color: white;
    padding: 5px;
    width: fit-content;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagen-articulo{
    flex: 1;
    width: 80%;
    height: 6.5em;
}

footer{
    grid-area: footer;
    background-color: #ff6363;
    text-align: center;
}

.info-footer{
    display: block;
    font-weight: bold;
    padding: 10px;
}

.imagenes-footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.imagenes-footer{
    width: 3%;
}